*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.awards{
    width: 87.5vw;
    margin: 1.822vw auto 3.645vw auto;
    background-color: #F9FAFF;
    box-shadow: 0px 0px 0.78125vw 0px #00000040;
    border-radius: 1.041vw;
    padding: 2.6vw 5.2vw;
    box-sizing: border-box;
    word-break: break-all;
    /* hyphens: auto; */
}

.awards-title{
    color: #383174;
    font-size: 2.5vw;
    line-height: 3.404vw;
    font-weight: 700;
    margin-bottom: 4.27vw;
}

.awards-wrapper{
    display: flex;
    flex-direction: column;
    gap: 6.25vw;
}

.awards-card{
    display: flex;
    gap: 1.9791vw;
}

.awards-card__left img{
    width: 16.66vw;
    height: 22.916vw;
}

.awards-card__right{
    color: #4D4477;
    line-height: 1.702vw;
    font-size: 1.25vw;
    font-weight: 400;
}