@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url('../assets/background-image.png') center center/cover no-repeat;
    overflow-x: hidden;
}

/* Container */
.document-container {
    max-width: 86vw;
    margin: 50px auto;
    border: 2px solid #ddd;
    background-color: #F9FAFF;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.document-header {
    background-color:  #383174;;
    padding: 10px;
    color: white;
    display: flex;
    text-align: center;
    font-size: 22px;
    border-bottom: 5px solid #3c3f81;
    margin-top: 6.3vh;  /*  ushbu code    */
}
.document-header h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 49.03px;
    margin-left: 5%;
}

/* .scroll-container {
    width: 99vw; 
    overflow-y: scroll;
    padding-right: 10px; 
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32.68px;
    letter-spacing: 0.01em;
    color: #4D4477;
    margin-bottom: 15px;
    margin-top: 100px; 
    max-height: calc(100vh - 100px);
}

.scroll-container::-webkit-scrollbar {
    width: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #4D447780;
    border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-track {
    background-color: #F1F0FB;
} */

.document-item {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    width: 73vw;
    border: 2px solid #ddd;
    border-radius: 8px;
    margin-top: 15px;
    background-color: #f3f2f9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

/* Document Icon */
.document-icon {
    flex: 0 0 40px;
    margin-right: 15px;
}

.document-icon img {
    width: 1.9vw;
    height: auto;
}

/* Document Name */
.document-name {
    flex-grow: 1;
    font-size: 1rem;
    color: #333;
    word-wrap: break-word;
}
.document-name span {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 32.68px;
    text-align: left; 
}

/* Download Icon */
.download-icon {
    flex: 0 0 40px;
}

.download-icon img {
    width: 2.9vw;
    height: auto;
}

/* Document Preview */
.document-preview {
    background-color: white;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));
    width: 73vw;
    padding: 20px;
    margin: 0 auto;
    margin-top: 15px;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    position: relative;
}

.document-preview::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    z-index: 1;
}


.document-preview h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 1rem;
    color: #0c0c0c;
    margin-bottom: 10px;
}

.document-preview p {
    width: 62vw;
    text-align: center;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #4D4477;
   
}
