@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open-sans',sans-serif;
}

.news__header {
    background-color: #383174;
    box-sizing: border-box;
    width: 100%;
    padding: 1.35vw 0;
}

@media (max-width: 640px) {
    .news__header {
        padding: 1.28vw 0;
        margin-top: 3.3vw;
    }
}

.news__header h1 {
    width: 87.5vw;
    margin: 0 auto;
    color: #F9FAFF;
    font-size: 1.875vw;
    font-weight: 700;
    line-height: 2.55vw;
}

@media (max-width: 640px) {
    .news__header h1 {
        font-size: 3.07vw;
        line-height: 4.1vw;
    }
}

.news__main-content {
    width: 87.5vw;
    margin: 4.16vw auto;
    display: flex;
    flex-direction: column;
    gap: 2.083vw;
}

@media (max-width: 640px) {
    .news__main-content {
        width: 89.57vw;
        margin: 5.41vw auto;
        gap: 2.56vw;
    }
}


.news-content__double-wrapper{
    display: flex;
    gap: 2.083vw;
}

@media (max-width: 640px){
    .news-content__double-wrapper{
        gap: 2.56vw;
    }
}

.news-content__double-wrapper .item-link{
    text-decoration: none;
}

.news-content__double-wrapper .item{
    box-shadow: 0px 0px 0.78125vw 0px #00000040;
    width: 42.70vw;
    height: 29.16vw;
    border-radius: 1.041vw;
    overflow: hidden;
    position: relative;
}

@media (max-width: 640px){
    .news-content__double-wrapper .item{
        width: 43.5vw;
        height: 31vw;
        border-radius: 1.53vw;
    }
}

.news-content__double-wrapper .item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(1.3deg, #F9FAFF 29.5%, rgba(255, 255, 255, 0) 78.06%);
}

.news-content__double-wrapper .item .first-img{
    object-fit: cover;
    width: 100%;
    height: 22.2vw;
}

@media (max-width: 640px){
    .news-content__double-wrapper .item .first-img{
        height: 19.9vw;
    }
}

.news-item__content{
    width: 37.1875vw;
    margin: 0 auto;
    position: relative;
}

@media (max-width: 640px){
    .news-item__content{
        width: 37.98vw;
    }
}

.news-item__content p{
    font-size: 1.25vw;
    font-weight: 600;
    line-height: 1.702vw;
    color: #4D4477;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
}

@media (max-width: 640px){
    .news-item__content p{
        font-size: 2vw;
        line-height: 2.22vw;
    }
}

.news-item__content div{
    display: flex;
    justify-content: space-between;
    margin-top: .6vw;
    align-items: center;
}
.news-item__content div small{
    color: #4D4477;
    font-size: 0.78125vw;
    line-height: 1.064vw;
    font-weight: 300;
}

@media (max-width: 640px){
    .news-item__content div small{
        font-size: 1.38vw;
        line-height: 3vw;
    }
}

.news-item__content div a{
    text-decoration: none;
    font-weight: 300;
    color: #4D4477;
    font-size: 0.78125vw;
    line-height: 1.064vw;
    display: flex;
    align-items: center;
    gap: 0.26vw;
}

@media (max-width: 640px){
    .news-item__content div a{
        font-size: 1.283vw;
        line-height: 3vw;
        gap: 0.66vw;
        display: none;
    }
}

.news-item__content div a img{
    max-width: 0.3645vw;
    height: 0.57vw;
    margin-top: 0.2083vw;
}

@media (max-width: 640px){
    .news-item__content div a img{
        max-width: 1.9vw;
        height: .9vw;
        margin-top: 0.093vw;
    }
}


.news-content__triple-wrapper{
    display: grid;
    grid-template-columns: 27.91vw 27.91vw 27.91vw;
    gap: 2.083vw;
}

@media (max-width: 640px){
    .news-content__triple-wrapper{
        grid-template-columns: 43.5vw 43.5vw;
        gap: 2.56vw;
    }
}

.news-content__triple-wrapper .item .first-img{
    object-fit: cover;
    width: 100%;
    height: 14.5vw;
}

@media (max-width: 640px){
    .news-content__triple-wrapper .item .first-img{
        height: 19.9vw;
    }
}

.news-content__triple-wrapper .item-link{
    text-decoration: none;
}

.news-content__triple-wrapper .item{
    box-shadow: 0px 0px 0.78125vw 0px #00000040;
    height: 20.05vw;
    border-radius: 1.041vw;
    overflow: hidden;
    position: relative;
}

@media (max-width: 640px){
    .news-content__triple-wrapper .item{
        height: 31vw;
        border-radius: 1.53vw;
    }
}

.news-content__triple-wrapper .item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(1.3deg, #F9FAFF 29.5%, rgba(255, 255, 255, 0) 78.06%);
}

.news-item__content-2{
    width: 24.21875vw;
    margin: 0 auto;
    position: relative;
}

@media (max-width: 640px){
    .news-item__content-2{
        width: 37.98vw;
    }
}

.news-item__content-2 p{
    margin: 0;
    font-size: 0.9375vw;
    font-weight: 600;
    line-height: 1.27vw;
    color: #4D4477;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
}

@media (max-width: 640px){
    .news-item__content-2 p{
        font-size: 2vw;
        line-height: 2.22vw;
    }
}

.news-item__content-2 div{
    display: flex;
    justify-content: space-between;
    margin-top: .5vw;
    align-items: center;
}
.news-item__content-2 div small{
    color: #4D4477;
    font-size: 0.625vw;
    line-height: .8510vw;
    font-weight: 300;
}

@media (max-width: 640px){
    .news-item__content-2 div small{
        font-size: 1.38vw;
        line-height: 3vw;
    }
}

.news-item__content-2 div a{
    text-decoration: none;
    font-weight: 300;
    color: #4D4477;
    font-size: 0.625vw;
    line-height: .8510vw;
    display: flex;
    align-items: center;
    gap: 0.26vw;
}

@media (max-width: 640px){
    .news-item__content-2 div a{
        font-size: 1.283vw;
        line-height: 3vw;
        gap: 0.66vw;
        display: none;
    }
}

.news-item__content-2 div a img{
    max-width: 0.3645vw;
    height: 0.57vw;
    margin-top: 0.2083vw;
}


@media (max-width: 640px){
    .news-item__content-2 div a img{
        max-width: 1.9vw;
        height: .9vw;
        margin-top: 0.093vw;
    }
}