@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6.3vh;
    /* padding: 0 6.25vw; */
}

.hero-section-container{
    height: 80vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 0px 6vw; */
}
.hero-section-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/hero-section-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(4px);
    width: 100%;
    height: 100%;
    box-shadow: 0px 2px 15px 0px #0000004D;
    border-radius: 40px;
}

.hero-section-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1;
    border-radius: 40px;
}

.hero-section-content> * {
    position: relative;
    z-index: 2;
}

.hero-logo{
    width: 13vw;
    object-fit: contain;
}
.hero-section-content h1{
    width: 95%;
    font-family: 'Open Sans';
    font-size: 2.5vw;
    font-weight: 800;
    line-height: 3.4vw;
    text-align: center;
    color: #ffff;
}
.second-section{
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5.2vw 0 ;
}
.second-section-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4.7vw;
}
.second-section h2{
    font-family: 'Open Sans';
    font-size: 1.8vw;
    font-weight: 700;
    line-height: 2.5vw;
    text-align: left;
    color: #4D4477;
}

.second-section .right-content{
    width: 49%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 0px #00000040;
    padding: 3.6vw 2.3vw;
    border-radius: 20px;
    position: relative;
}
.second-section .left-content{
    width: 49%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 0px #00000040;
    padding: 3.6vw 2.3vw;
    border-radius: 20px;
    position: relative;
}
.right-content .content{
    display: flex;
    align-items: center;
}
.right-content .content img{
    width: 12vw;
    object-fit: contain;
}
.left-content .content{
    display: flex;
    align-items: center;
}
.left-content .content img{
    width: 12vw;
    object-fit: contain;
}
.content p{
    width: 65%;
    font-family:'Open Sans';
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 1.6vw;
    text-align: left;
    
}
.second-section-content .more-btn{
    background: transparent;
    border: none;
    align-self: right;
    position: absolute;
    bottom: 2vw;
    right: 2vw;
    display: flex;
    align-items: center;
    font-family: 'Open Sans';
    font-size: 1.04vw;
    font-weight: 300;
    line-height: 1.4vw;
    text-align: left;
    color: #4D4477;
}
.second-section-content .more-btn svg{
    color: #4D4477;
}
.press-section{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.press-section h2{
    font-family: 'Open Sans';
    font-size: 1.8vw;
    font-weight: 700;
    line-height: 2.6vw;
    text-align: left;
    color:#4D4477;
}
.press-section .swiper{
    width: 100%;
    height: 500px;
}

.press-section .swiper-slide{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.press-section .swiper-slide-content{
    background-image:  linear-gradient(to bottom, transparent 0%, #fff 70%), url(../assets/center-swiper.png);
    width:100%;
    height: 90%;
    display: flex;
    background-repeat: no-repeat;
    background-size: contain;
    justify-content: end;
    flex-direction: column;
    padding: 1.1vw 2.6vw;
    box-shadow: 0px 0px 10px 0px #00000040;
    border-radius: 20px;
}
.press-section .swiper-slide-content .bottom-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1.3vw;
    align-items: center;
}
.press-section .swiper-wrapper{
    display: flex;
    align-items: center !important;
    position: relative;
    justify-content: center;
}
.press-section .swiper-slide-content span{
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 600;
    line-height: 27.24px;
    text-align: left;    
}
.press-section .more-btn{
    background: transparent;
    border: none;
    align-self: right;
    display: flex;
    align-items: center;
    font-family: 'Open Sans';
    font-size: 1.04vw;
    font-weight: 300;
    line-height: 1.4vw;
    text-align: right;
    color: #4D4477;
    width: 100%;
    justify-content: end;
    margin-top: 1.8vw;
}
.press-section .swiper-slide-active {
    opacity: 1;
    z-index: 2;
    transform: scale(1.1);
    width: 45% !important;
    height: 90% !important;
}
.press-section .swiper-slide:not(.swiper-slide-active) {
    opacity: 0.6; 
    transform: scale(0.9); 
    height: 70%;
    width: 30% !important;
    z-index: 1; 
    margin-left: -5%; 
    margin-right: -5%; 
}
.press-section .swiper {
    overflow: hidden;
}

.articles-section{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5.2vw 0;
}
.articles-section h2{
    font-family: 'Open Sans';
    font-size: 1.8vw;
    font-weight: 700;
    line-height: 2.5vw;
    text-align: left;  
    margin-bottom: 2.8vw;
    color: #4D4477;  
}
.article{
    width: 100%;
    padding: 2.8vw 3.6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 0px #00000040;
    border-radius: 20px;
    background: #F9FAFF;
    position: relative;
    margin-bottom: 1vw;
}
.article-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1.5vw;
}
.article-content .article-title{
    font-family: 'Open Sans';
    font-size: 1.25vw;
    font-weight: 600;
    line-height: 1.7vw;
    text-align: left;   
    color: #4D4477; 
    margin-bottom: 11px;   
}
.article-description{
    font-family: 'Open Sans';
    font-size: 0.9vw;
    font-weight: 400;
    line-height: 1.27vw;
    letter-spacing: 0.01em;
    text-align: left;
    margin-top: 11px;
    
}
.article .more-btn{
    background: transparent;
    border: none;
    align-self: right;
    display: flex;
    align-items: center;
    font-family: 'Open Sans';
    font-size: 1.04vw;
    font-weight: 300;
    line-height: 1.4vw;
    text-align: right;
    color: #4D4477;
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 100%;
    justify-content: end;
    margin-top: 1.8vw;
}
.links-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.6vw;
}

.links-section h2 {
    font-family: 'Open Sans';
    font-size: 2vw;
    font-weight: 600;
    /* margin-bottom: 2.3vw; */
    color: #4D4477;
}

.links-section .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.links-section .swiper-slide-content {
    width: 21vw;
    height: 11vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 0px #00000040;
    justify-content: center;
    background: #F9FAFF;
    align-items: center;
    padding: 0 0 1.8vw 0 ;

}

.links-section .swiper-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links-section .swiper {
    width: 100%;
    padding: 2.3vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.links-section .swiper-slide-content img {
    object-fit: contain;
}
.links-section .image-huquqiy{
    width: 8.3vw;
}
.links-section .image-gerb{
    width: 8.2vw;
}
.links-section .image-lex{
    width: 9.01vw;
}
.links-section .image-mygov{
    width: 12.3vw;
}

.links-section .swiper-slide-content p {
    font-family: 'Open Sans';
    font-size: 1.2vw;
    font-weight: 400;
    line-height: 1.7vw;
    text-align: center; 
    color: #4D4477;
}

.swiper-pagination-link {
    margin-top: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
