@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url('../assets/background-image.png') center center/cover no-repeat;
    
    overflow-x: hidden;
}

.program-header {
    background-color:  #383174;;
    padding: 15px;
    color: white;
    display: flex;
    text-align: center; 
    font-size: 22px;
    border-bottom: 5px solid #3c3f81;
    
}
.program-header h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 49.03px;
    margin-left: 5%;
}

/* .scroll-container {
    width: 99vw; 
    overflow-y: scroll;
    padding-right: 10px; 
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32.68px;
    letter-spacing: 0.01em;
    color: #4D4477;
    margin-bottom: 15px;
    margin-top: 100px; 
    max-height: calc(100vh - 100px);
}

.scroll-container::-webkit-scrollbar {
    width: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #4D447780;
    border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-track {
    background-color: #F1F0FB;
} */

/* Program Container */
.program-container {
    width: 86vw;
    margin: 7vh auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    border: 2px solid #ddd;
}

/* Program Content */
.program-content h3 {
    margin: 0 auto;
    width: 76vw;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 54.47px;
    text-align: left;
    color: #4D4477;
}

.program-content .date {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #383174;
    margin-bottom: 20px;
}

.program-content p {
    margin: 0 auto;
    width: 76vw;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 1.8;
    color: #4D4477;
   
}


